// User
.user-avatar-small {
  margin-top: 5px;
  border-radius: 10px;
}
.user-avatar-big {
  margin: 0 auto;
  border-radius: 10px;
}
.user-avatar-update {
  margin-bottom: 10px;
  border-radius: 4px;
}

// Panels
.bottom {
  .panel {
    .panel-body {
      hr {
        display: none;
      }
    }
  }
}